<h1>I'm here to create a new recipe</h1>

  <%= form_for :recipe, url: user_recipes_path  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :ingredients %>
  <%= f.text_field :ingredients %>

  <%= f.label :instructions %>
  <%= f.text_field :instructions %>

  <%= f.submit 'Create' %>
<% end %>
