<h1>Showing Recipe for <%= @recipe.title %></h1>

  <dl>
    <dt>Ingredients: </dt>
    <dd><%= @recipe.ingredients %></dd>

    <dt>Instructions: </dt>
    <dd><%= @recipe.instructions %></dd>

    <% if @recipe.pictures.attached? %>
        <dt>Pictures:</dt>
        <dd><%= @recipe.pictures.each do |picture| %>
          <%= image_tag picture.variant(resize: "500x500") %>
        </dd>
      <% end %>
      <% end %>
  </dl>
  <div class = "container" >
    <%= form_for :comment do |form| %>
      <div class="form-group">
        <%= form.label :body %>
        <%= form.text_field :body, id: "comment" %>
        <div class="submit-field">
          <%= form.submit "Submit comment" %>
        </div>
      </div>
    <% end %>
  </div>
