<h1>Showing Recipe for <%= @recipe.title %></h1>

<div>
  <ul>
    <li><%= @recipe.ingredients %></li>
    <li><%= @recipe.instructions %></li>
    <% if @recipe.pictures.attached? %>
      <li>
        <p>
        <strong>Pictures:</strong>
        <br>
        <%= @recipe.pictures.each do |picture| %>
          <%= image_tag picture %>
      <% end %>
      </li>
        </p>
      <% end %>
  </ul>
</div>
