<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Brewery info</h4>
      <dl>
        <dt>Brewery</dt>
        <dd><%= @brewery["name"] %></dd>
        <dt>Brewery Type</dt>
        <dd><%= @brewery["brewery_type"] %></dd>

        <dt>City</dt>
        <dd><%= @brewery["city"] %></dd>
        <dt>State</dt>
        <dd><%= @brewery["state"] %></dd>
        <dt>Website</dt>
        <dd><%= @brewery["website_url"] %></dd>
      </dl>
    </div>
  </div>
</div>


