<!DOCTYPE html>
<html>
<head>
  <title>Homebrew Buddy</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <%= render 'layouts/navigation' %>
  </header>

  <div id="flash" class="col-lg-12 mt-5">
    <% flash.each do |key, value| %>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
